/* Colors
Blue: #2185D0
Grey: #1B1C1D
*/

body {
  background-image: url(asset-path('backgrounds/square-background.png')) !important;
  background-color: #F4F4F4 !important;
  position: relative !important;
  z-index: -2 !important;
}

/* Background Images */
.black-background-color {
  background-color: #000000 !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  background-position: 135% 57px !important;
}
.background-tristana { background-image: url("https://lolstatic-a.akamaihd.net/game-info/1.1.9/images/champion/backdrop/bg-tristana.jpg") !important; }

/* HomeContainer */

/* Desktop */
#HomeContainerDesktop-page-container {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  width: 100% !important;
  min-width: 500px;
  max-width: 720px;
  height: 600px !important;
  padding: 0px !important;
  margin: auto !important;
}
#HomeContainerDesktop-logo-container {
  display: flex !important;
  align-items: flex-end !important;
  justify-content: center !important;
  width: 100% !important;
  height: 40% !important;
  padding: 0px !important;
  margin: 0px;
}
#HomeContainerDesktop-logo {
  width: auto !important;
  height: 90% !important;
  max-height: 90% !important;
}
#HomeContainerDesktop-search-container {
  width: 100% !important;
  height: 60% !important;
  padding: 0px !important;
  margin: 0px;
}
#HomeContainerDesktop-summoner-search-container {
  width: 60% !important;
  height: 18% !important;
  margin: auto !important;
}
#HomeContainerDesktop-button-group-container {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 100% !important;
  height: 14% !important;
  padding: 0px 0px 14px 0px !important;
  margin: 0px !important;
}
#HomeContainerDesktop-button-group {
  width: auto !important;
  max-width: 100% !important;
  height: 100% !important;
}
#HomeContainerDesktop-button-group-button {
  color: #FFFFFF !important;
  background-color: #2185D0 !important;
}
#HomeContainerDesktop-button-group-button:hover {
  color: #2185D0 !important;
  background-color: #FFFFFF !important;
}
#HomeContainerDesktop-champion-search-container {
  width: 100% !important;
  height: 68% !important;
  padding: 0px !important;
  margin: 0px !important;
  background-color: #FFFFFF !important;
}

/* Mobile */
#HomeContainerMobile-page-container {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  width: 100% !important;
  max-width: 100% !important;
  height: 600px !important;
  padding: 0px !important;
  margin: auto !important;
}
#HomeContainerMobile-logo-container {
  display: flex !important;
  align-items: flex-end !important;
  justify-content: center !important;
  width: 100% !important;
  height: 40% !important;
  padding: 0px !important;
  margin: 0px;
}
#HomeContainerMobile-logo {
  width: auto !important;
  height: 90% !important;
  max-height: 90% !important;
}
#HomeContainerMobile-search-container {
  width: 100% !important;
  height: 60% !important;
  padding: 0px !important;
  margin: 0px;
}
#HomeContainerMobile-summoner-search-container {
  width: 90% !important;
  height: 18% !important;
  margin: auto !important;
}
#HomeContainerMobile-button-group-container {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 100% !important;
  height: 14% !important;
  padding: 0px 0px 14px 0px !important;
  margin: 0px !important;
}
#HomeContainerMobile-button-group {
  width: 90% !important;
  max-width: 100% !important;
  height: 100% !important;
}
#HomeContainerMobile-button-group-button {
  width: 33.3% !important;
  color: #FFFFFF !important;
  background-color: #2185D0 !important;
}
#HomeContainerMobile-button-group-button:hover {
  color: #2185D0 !important;
  background-color: #FFFFFF !important;
}
#HomeContainerMobile-champion-search-container {
  width: 100% !important;
  height: 68% !important;
  padding: 0px !important;
  margin: 0px !important;
  background-color: #FFFFFF !important;
}

/* NavigationBar */
#navigation-bar {
  padding-bottom: 0px !important;
  border-bottom: 3px solid #2185D0 !important;
  border-radius: 0px !important;
}
#navigation-bar-logo {
  width: 40px !important;
  height: auto !important;
}
#navigation-bar-item-mobile-last {
  border-bottom: 3px solid #2185D0 !important;
}

/* SummonerSearch */
#SummonerSearch-grid-container {
  width: 100% !important;
  height: 100% !important;
  padding: 0px !important;
  margin: 0px !important;
  border: 1px solid #2185D0 !important;
}
#SummonerSearch-grid-row-one {
  width: 100% !important;
  height: 100% !important;
  padding: 0px !important;
}
#SummonerSearch-grid-row-one-column-one {
  width: 20% !important;
  height: 100% !important;
  padding: 0px !important;
}
#SummonerSearch-grid-row-one-column-one-button {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  flex-wrap: wrap !important;
  width: 100% !important;
  height: 100% !important;
  padding: 0px !important;
  border-radius: 0px !important;
}
#SummonerSearch-grid-row-one-column-one-button-menu {
  width: 100% !important;
  height: 150px !important;
  max-height: 150px !important;
  overflow-y: scroll !important;
  border: 0px !important;
  border-radius: 0px !important;
  color: #FFFFFF !important;
  background-color: #1B1C1D !important;
}
#SummonerSearch-grid-row-one-column-one-button-menu-item {
  font-weight: bold !important;
  color: #FFFFFF !important;
}
#SummonerSearch-grid-row-one-column-one-button-menu-item:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1) !important;
}
#SummonerSearch-grid-row-one-column-one-button-menu::-webkit-scrollbar-track {
  background-color: #FFFFFF !important;
}
#SummonerSearch-grid-row-one-column-one-button-menu::-webkit-scrollbar-thumb {
  background-color: #A78E5A !important;
  border-radius: 0px !important;
}
#SummonerSearch-grid-row-one-column-two {
  width: 65% !important;
  height: 100% !important;
  padding: 0px !important;
}
#SummonerSearch-grid-row-one-column-two-form {
  width: 100% !important;
  height: 100% !important;
}
#SummonerSearch-grid-row-one-column-two-form-field {
  width: 100% !important;
  height: 100% !important;
}
#SummonerSearch-grid-row-one-column-two-form-input {
  width: 100% !important;
  height: 100% !important;
  padding: 0px 10px 0px 10px !important;
  border: 0px !important;
  border-radius: 0px !important;
}
#SummonerSearch-grid-row-one-column-three {
  width: 15% !important;
  height: 100% !important;
  padding: 0px !important;
}
#SummonerSearch-grid-row-one-column-three-button {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 100% !important;
  height: 100% !important;
  padding: 0px !important;
  margin: 0px !important;
  border-radius: 0px !important;
}

/* ChampionSearch */
#ChampionSearch-container {
  display: flex !important;
  flex-direction: column !important;
  width: 100% !important;
  height: 100% !important;
}
#ChampionSearch-form-container {
  width: 100% !important;
  height: auto !important;
  padding: 14px !important;
  background: #2185D0 !important;
}
#ChampionSearch-form {
  width: 100% !important;
  height: 100% !important;
}
#ChampionSearch-form-field {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 100% !important;
  height: 100% !important;
}
#ChampionSearch-form-input {
  width: 90% !important;
  height: 100% !important;
  border-radius: 0px !important;
}
#ChampionSearch-form-sort-icon {
  width: 10% !important;
  height: 100% !important;
  padding: 10px !important;
  border-radius: 0px !important;
  font-size: 18px !important;
  color: #FFFFFF !important;
}
#ChampionSearch-results-container {
  width: 100% !important;
  height: 100% !important;
  padding: 7px 0px 7px 0px !important;
  overflow-y: scroll !important;
  border: 3px solid #2185D0 !important;
  border-top: 0px !important;
}
#ChampionSearch-results-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important;
  background-color: #FFFFFF !important;
}
#ChampionSearch-results-container::-webkit-scrollbar-thumb {
  background-color: #A78E5A !important;
  border-radius: 0px !important;
}
#ChampionSearch-champions-container {
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: center !important;
}
#ChampionSearch-champions-item-container {
  position: relative !important;
  padding: 3px !important;
}
#ChampionSearch-champions-item-label {
  display: flex !important;
  align-items: center !important;
  position: absolute !important;
  width: 12px !important;
  height: 20px !important;
  padding: 0px !important;
  font-size: 12px !important;
  font-weight: bold !important;
  border-bottom-right-radius: 3px !important;
  z-index: 2 !important;
}
#ChampionSearch-champions-item-image {
  width: 50px !important;
  max-width: 50px !important;
  height: 50px !important;
  max-height: 50px !important;
}

/* ChampionOverview */
.ui.celled.fixed.selectable.sortable.striped.unstackable.table {
  margin-top: 0px !important;
}
#champion-overview-champion-icon-mobile,
#champion-overview-champion-icon-tablet-computer,
#champion-overview-champion-icon-large-computer {
  height: auto !important;
  margin: auto !important;
  vertical-align: middle !important;
}
#champion-overview-champion-icon-mobile {
  width: 60% !important;
}
#champion-overview-champion-icon-tablet-computer {
  width: 15% !important;
}
#champion-overview-champion-icon-large-computer {
  width: 10% !important;
}
#trait-popup-description {
  text-align: center;
  text-align-last: center;
}


/* SummonerShow */
#summoner-show-page-container-mobile-tablet {
  width: 100% !important;
  z-index: -1 !important;
  position: absolute !important;
}
#summoner-show-page-container-computer {
  width: 50% !important;
  z-index: -1 !important;
  position: absolute !important;
  left: 50% !important;
  transform: translate(-50%,0) !important;
}
#summoner-show-page-icon {
  border: 2px solid black !important;
}
#summoner-show-page-rank {
  color: #36A9E0 !important;
  font-weight: bold !important;
}
#summoner-show-page-rank-wins {
  color: green !important;
}
#summoner-show-page-rank-losses {
  color: red !important;
}

/* Traits */
div.ui.header {
  margin-top: 3px !important;
  margin-bottom: 3px !important;
}
#trait-popup-description {
  text-align: center;
  text-align-last: center;
}
.ui.card, .ui.cards>.card {
  width: auto !important;
}
div.item {
  margin: 0px !important;
  padding: 3px !important;
  padding-top: 0px !important;
}
#traits-champion-card {
  background-color: #1B1C1D !important;
  border: 3px solid #1B1C1D !important;
  border-radius: 9px !important;
  transform: scale(1) !important;
}
#traits-champion-card-extra {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
#traits-champion-card-extra,
#traits-champion-card-extra p {
  border: none !important;
  color: #FFFFFF !important;
  background-color: #1B1C1D !important;
}
#traits-champion-card-label {
  padding: 3px 12px 3px 12px !important;
  font-size: 0.8vw !important;
}
#traits-champion-card-hover {
  background-color: #36A9E0 !important;
  border: 3px solid #36A9E0 !important;
  border-radius: 9px !important;
  transform: scale(1.1) !important;
}
#traits-champion-card-extra-hover {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
#traits-champion-card-extra-hover,
#traits-champion-card-extra-hover p {
  border: none !important;
  color: #FFFFFF !important;
  background-color: #36A9E0 !important;
}

/* ChampionShow */
body, html {
  height: 100% !important;
}
.grey-background-color {
  background-image: none !important;
  background-color: #1B1C1D !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  background-position: 125% 57px !important;
}

/* Desktop */
#ChampionShowDesktop-page-container {
  display: flex !important;
  width: 1500px !important;
  max-width: 100% !important;
  height: 1000px !important;
  max-height: 100% !important;
  border-radius: 0px !important;
  margin: auto !important;
  padding: 14px !important;
  background-color: #1B1C1D !important;
}
/* Search Container */
#ChampionShowDesktop-search-container {
  flex: 1 !important;
  width: 100% !important;
  height: 50% !important;
  padding: 0px !important;
  margin: 0px 7px 0px 0px !important;
  border: none !important;
  border-radius: 0px !important;
  background-color: #FFFFFF !important;
}
/* Champion Container */
#ChampionShowDesktop-champion-container {
  flex: 4 !important;
  width: 100% !important;
  height: 100% !important;
  margin: 0px 0px 0px 7px !important;
  padding: 14px !important;
  background-color: #FFFFFF !important;
}
/* Header */
#ChampionShowDesktop-champion-header {
  display: flex !important;
  align-items: center !important;
  width: 100% !important;
  height: auto !important;
  max-height: 15% !important;
  padding: 0px !important;
  overflow: hidden !important;
  border: 5px solid #2185D0 !important;
}
#ChampionShowDesktop-champion-header-tier {
  border: none !important;
  border-radius: 0px !important;
  border-bottom-right-radius: 3px !important;
  font-size: 15px !important;
  color: #FFFFFF !important;
  z-index: 2 !important;
}
#ChampionShowDesktop-champion-header-title {
  position: absolute !important;
  margin: auto !important;
  margin-left: 6% !important;
  color: #FFFFFF !important;
  font-weight: bold !important;
  z-index: 2 !important;
}
#ChampionShowDesktop-champion-header-title span {
  font-size: 30px !important;
}
#ChampionShowDesktop-champion-header-title p {
  font-size: 20px !important;
  font-style: italic !important;
}
#ChampionShowDesktop-champion-header-image {
  width: 100% !important;
  height: 100% !important;
  margin: auto !important;
  object-fit: contain !important;
  z-index: 1 !important;
}
#ChampionShowDesktop-champion-header-traits-container {
  display: flex !important;
  justify-content: center !important;
  flex-direction: column !important;
  position: absolute !important;
  width: 15% !important;
  height: 105% !important;
  right: -1px !important;
  background-color: #2185D0 !important;
  z-index: 2 !important;
}
#ChampionShowDesktop-champion-header-traits-container::after {
  content: '' !important;
  position: absolute !important;
  width: 100% !important;
  height: 100% !important;
  transform-origin: 100% -10px !important;
  transform: skew(-40deg) !important;
  background-color: inherit !important;
  z-index: -1 !important;
}
#ChampionShowDesktop-champion-header-trait {
  display: flex !important;
  align-items: center !important;
  font-size: 15px !important;
  font-weight: bold !important;
  color: #FFFFFF !important;
}
#ChampionShowDesktop-champion-header-trait img {
  width: 25px !important;
  height: auto !important;
}
/* Details Container */
#ChampionShowDesktop-champion-details {
  display: flex !important;
  height: 85% !important;
  padding: 0px 0px 7px 0px !important;
}
/* Ability Container */
#ChampionShowDesktop-champion-details-ability-container {
  flex: 1 !important;
  padding: 0px !important;
  margin: 0px 7px 0px 0px !important;
  color: #FFFFFF !important;
  font-weight: bold !important;
}
#ChampionShowDesktop-champion-details-ability-grid {
  width: 100% !important;
  height: 100% !important;
  margin: 0px !important;
}
#ChampionShowDesktop-champion-details-ability-grid-row-one {
  width: 100% !important;
  height: 5% !important;
  padding: 0px !important;
  background-color: #2185D0 !important;
}
#ChampionShowDesktop-champion-details-ability-grid-row-one-column-one {
  display: grid !important;
  padding: 0px !important;
}
#ChampionShowDesktop-champion-details-ability-grid-row-one-column-one-title {
  position: absolute !important;
  width: 100% !important;
  top: 50% !important;
  left: 50% !important;
  transform: translateX(-50%) translateY(-50%) !important;
  padding: 0px 0px 0px 5px !important;
}
#ChampionShowDesktop-champion-details-ability-grid-row-one-column-two {
  padding: 0px !important;
  margin: 0px !important;
}
#ChampionShowDesktop-champion-details-ability-grid-row-one-column-two-type,
#ChampionShowDesktop-champion-details-ability-grid-row-one-column-two-mana {
  float: right !important;
  padding: 0px 5px 0px 0px !important;
}
#ChampionShowDesktop-champion-details-ability-grid-row-two {
  width: 100% !important;
  height: 20% !important;
  padding: 0px !important;
  border-left: 3px solid #2185D0 !important;
  border-right: 3px solid #2185D0 !important;
  background-color: #1B1C1D !important;
}
#ChampionShowDesktop-champion-details-ability-grid-row-two-column-one {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  height: 100% !important;
  padding: 7px !important;
}
#ChampionShowDesktop-champion-details-ability-grid-row-two-column-one-image {
  width: 100% !important;
  max-width: 50px !important;
  height: auto !important;
  max-height: 50px !important;
  border: 2px solid #FFFFFF !important;
  border-radius: 1px !important;
}
#ChampionShowDesktop-champion-details-ability-grid-row-two-column-two {
  display: flex !important;
  align-items: center !important;
  height: 100% !important;
  padding: 14px 0px 14px 0px !important;
  overflow-y: scroll !important;
}
#ChampionShowDesktop-champion-details-ability-grid-row-two-column-two-description {
  margin: auto !important;
}
#ChampionShowDesktop-champion-details-ability-grid-row-two-column-two::-webkit-scrollbar-track {
  background-color: #1B1C1D !important;
}
#ChampionShowDesktop-champion-details-ability-grid-row-two-column-two::-webkit-scrollbar-thumb {
  background-color: #A78E5A !important;
  border-radius: 0px !important;
}
#ChampionShowDesktop-champion-details-ability-grid-row-three {
  width: 100% !important;
  height: 15% !important;
  padding: 0px !important;
  background-color: #2185D0 !important;
}
#ChampionShowDesktop-champion-details-ability-grid-row-three-column-one {
  padding: 0px !important;
  border-left: 3px solid #2185D0 !important;
  border-right: 3px solid #2185D0 !important;
  background-color: #1B1C1D !important;
}
#ChampionShowDesktop-champion-details-ability-grid-row-three-column-one-stats {
  text-align: center !important;
  background-color: #2185D0 !important;
}
#ChampionShowDesktop-champion-details-ability-grid-row-four {
  width: 100% !important;
  height: 45% !important;
  padding: 0px !important;
}
#ChampionShowDesktop-champion-details-ability-grid-row-four-column-one {
  display: flex !important;
  width: 100% !important;
  height: 100% !important;
  border: 3px solid #2185D0 !important;
  border-top: 0px !important;
  border-bottom: 0px !important;
  background-color: #1B1C1D !important;
}
#ChampionShowDesktop-champion-details-ability-grid-row-four-column-one-image {
  width: auto !important;
  max-width: 100% !important;
  height: auto !important;
  max-height: 100% !important;
  margin: auto !important;
  padding: 0px 14px 14px 14px !important;
}
#ChampionShowDesktop-champion-details-ability-grid-row-five {
  width: 100% !important;
  height: 15% !important;
  padding: 0px !important;
}
#ChampionShowDesktop-champion-details-ability-grid-row-five-column-one {
  width: 100% !important;
  height: 100% !important;
  padding: 0px !important;
  border: 3px solid #2185D0 !important;
  border-top: 0px !important;
  background: #1B1C1D !important;
}
#ChampionShowDesktop-champion-details-ability-grid-row-five-column-one-header {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 100% !important;
  height: 40% !important;
  margin: 0px !important;
  background-color: #2185D0 !important;
}
#ChampionShowDesktop-champion-details-ability-grid-row-five-column-one-items {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 100% !important;
  height: 60% !important;
  margin: 0px !important;
  background-color: #1B1C1D !important;
}
/* Traits Container */
#ChampionShowDesktop-champion-details-traits-container {
  flex: 3 !important;
  padding: 0px !important;
  margin: 0px 0px 0px 7px !important;
}
#ChampionShowDesktop-champion-details-traits-statistics-container {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 100% !important;
  height: 20% !important;
  margin: 0px !important;
  border: 3px solid #2185D0 !important;
  border-bottom: 15px solid #2185D0 !important;
  border-radius: 0px !important;
}
#ChampionShowDesktop-champion-details-traits-statistics-list {
  text-align: center !important;
}
#ChampionShowDesktop-champion-details-traits-statistics-list-item {
  padding: 5px 20px 5px 20px !important;
}
#ChampionShowDesktop-champion-details-traits-statistics-list-item img {
  width: 25px !important;
  height: 25px !important;
}
#ChampionShowDesktop-champion-details-traits-statistics-list-item-header {
  color: #FFFFFF !important;
}
#ChampionShowDesktop-champion-details-traits-traits-container {
  width: 100% !important;
  height: 80% !important;
  padding: 0px !important;
  margin: 0px !important;
  background: green;
}
#ChampionShowDesktop-champion-details-traits-traits-grid {
  width: 100% !important;
  height: 100% !important;
  margin: 0px !important;
  background-color: #2185D0 !important;
}
#ChampionShowDesktop-champion-details-traits-traits-grid-row-one {
  padding: 0px !important;
  border-right: 3px solid #2185D0 !important;
  border-bottom: 15px solid #2185D0 !important;
  background-color: #1B1C1D !important;
}
#ChampionShowDesktop-champion-details-traits-traits-grid-row-one-column-one {
  height: 100% !important;
  padding: 0px !important;
  text-align: center !important;
  font-size: 12px !important;
  font-weight: bold !important;
  color: #FFFFFF !important;
  background-color: #2185D0 !important;
}
#ChampionShowDesktop-champion-details-traits-traits-grid-row-one-column-one-image {
  width: 40px !important;
  height: 40px !important;
  margin: auto !important;
}
#ChampionShowDesktop-champion-details-traits-traits-grid-row-one-column-two {
  padding: 0px 20px 0px 20px !important;
  margin: auto !important;
  font-weight: bold !important;
  color: #FFFFFF !important;
  background-color: #1B1C1D !important;
}
#ChampionShowDesktop-champion-details-traits-traits-grid-row-one-column-two-champions {
  padding: 10px 0px 0px 0px !important;
  margin: 0px !important;
}
#ChampionShowDesktop-champion-details-traits-traits-grid-row-one-column-two-champions-list {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
#ChampionShowDesktop-champion-details-traits-traits-grid-row-one-column-two-champions-list-item-container {
  position: relative !important;
}
#ChampionShowDesktop-champion-details-traits-traits-grid-row-one-column-two-champions-list-item-label {
  position: absolute !important;
  width: 12px !important;
  height: 20px !important;
  padding: 0px !important;
  font-size: 12px !important;
  font-weight: bold !important;
  border-bottom-right-radius: 3px !important;
  z-index: 2 !important;
}
#ChampionShowDesktop-champion-details-traits-traits-grid-row-one-column-two-champions-list-item-image {
  width: 50px !important;
  height: 50px !important;
}
#ChampionShowDesktop-champion-details-traits-traits-grid-row-one-column-two-description {
  padding: 10px 0px 10px 0px !important;
  margin: 0px !important;
  text-align: center !important;
}
#ChampionShowDesktop-champion-details-traits-traits-grid-row-one-column-two-upgrades-container {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  padding: 0px 0px 10px 0px !important;
  margin: 0px !important;
  text-align: center !important;
}
#ChampionShowDesktop-champion-details-traits-traits-grid-row-one-column-two-upgrades-list {
  display: inline-block !important
}
#ChampionShowDesktop-champion-details-traits-traits-grid-row-one-column-two-upgrades-list-item {
  line-height: 20px !important;
  text-align: left !important;
}
#ChampionShowDesktop-champion-details-traits-traits-grid-row-one-column-two-upgrades-list-item-upgrade-number {
  padding: 1px 3px 1px 3px !important;
  border-radius: 3px !important;
  font-weight: bold !important;
  background-color: #2185D0 !important;
}

/* Mobile */
#ChampionShowMobile-page-container {
  width: 100% !important;
  max-width: 500px !important;
  height: 800px !important;
  padding: 0px !important;
  margin: auto !important;
  border-radius: 0px !important;
}
/* Search Container */
#ChampionShowMobile-search-container {
  width: 100% !important;
  height: 20% !important;
  padding: 0px !important;
  margin: 14px 0px 14px 0px !important;
  border: none !important;
  border-radius: 0px !important;
  background-color: #1B1C1D !important;
}
/* Champion Container */
#ChampionShowMobile-champion-container {
  width: 100% !important;
  height: 80% !important;
  padding: 0px !important;
  margin: 0px 0px 14px 0px !important;
  border: 3px solid #2185D0 !important;
  background-color: #FFFFFF !important;
}
/* Header */
#ChampionShowMobile-champion-header-container {
  display: flex !important;
  align-items: center !important;
  width: 100% !important;
  height: 8.6% !important;
  padding: 0px !important;
  margin: 0px !important;
  border-bottom: 3px solid #2185D0 !important;
  font-weight: bold !important;
  color: #FFFFFF !important;
  background-color: #1B1C1D !important;
  z-index: 1 !important;
}
#ChampionShowMobile-champion-header-image {
  width: 50px !important;
  height: 50px !important;
  padding: 0px !important;
}
#ChampionShowMobile-champion-header-title-container {
  padding: 0px 0px 0px 15px !important;
}
#ChampionShowMobile-champion-header-title-name {
  font-size: 20px !important;
}
#ChampionShowMobile-champion-header-title-title {
  font-size: 12px !important;
  font-style: italic !important;
}
#ChampionShowMobile-champion-header-tier-container {
  display: flex !important;
  align-items: center !important;
  position: absolute !important;
  width: 15% !important;
  height: 100% !important;
  padding: 10px !important;
  right: 0px !important;
  background-color: #2185D0 !important;
}
#ChampionShowMobile-champion-header-tier-container::after {
  content: '' !important;
  position: absolute !important;
  width: 100% !important;
  height: 100% !important;
  transform-origin: 100% -12px !important;
  transform: skew(-40deg) !important;
  background-color: inherit !important;
  z-index: -1 !important;
}
#ChampionShowMobile-champion-header-tier {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  height: 30px !important;
  width: 30px !important;
  font-size: 15px !important;
  border-radius: 3px !important;
}
/* Statistics */
#ChampionShowMobile-champion-statistics-container {
  width: 100% !important;
  height: 6.4% !important;
  padding: 5px !important;
  margin: 0px !important;
  border-bottom: 3px solid #2185D0 !important;
  color: white !important;
  background: #1B1C1D !important;
}
#ChampionShowMobile-champion-statistics-list {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  font-weight: bold !important;
}
#ChampionShowMobile-champion-statistics-list-item-container {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  padding: 5px 5px 5px 5px !important;
}
#ChampionShowMobile-champion-statistics-list-item-image {
  width: 15px !important;
  height: auto !important;
  margin: 0px 5px 0px 0px !important;
}
/* Ability */
#ChampionShowMobile-champion-ability-container {
  width: 100% !important;
  height: 40% !important;
  padding: 0px !important;
  margin: 0px !important;
}
#ChampionShowMobile-champion-ability-grid {
  width: 100% !important;
  height: 100% !important;
  padding: 0px !important;
  margin: 0px !important;
}
#ChampionShowMobile-champion-ability-grid-row-one {
  width: 100% !important;
  height: 15% !important;
  padding: 0px !important;
  margin: 0px !important;
  font-weight: bold !important;
  color: #FFFFFF !important;
  background-color: #2185D0 !important;
}
#ChampionShowMobile-champion-ability-grid-row-one-column-one {
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start !important;
  justify-content: center !important;
  height: 100% !important;
  padding: 0px 0px 2.5px 10px !important;
}
#ChampionShowMobile-champion-ability-grid-row-one-column-two {
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-end !important;
  justify-content: center !important;
  height: 100% !important;
  padding: 0px 10px 2.5px 0px !important;
}
#ChampionShowMobile-champion-ability-grid-row-two {
  width: 100% !important;
  height: 42.5% !important;
  padding: 0px !important;
  border-bottom: 3px solid #2185D0 !important;
  font-weight: bold !important;
  color: #FFFFFF !important;
  background-color: #1B1C1D !important;
}
#ChampionShowMobile-champion-ability-grid-row-two-column-one {
  display: flex !important;
  align-items: center;
  justify-content: center !important;
  height: 100% !important;
  padding: 0px 7px 0px 7px !important
}
#ChampionShowMobile-champion-ability-grid-row-two-column-one-image {
  width: 100% !important;
  max-width: 50px !important;
  height: auto !important;
  max-height: 50px !important;
  border: 2px solid #FFFFFF !important;
  border-radius: 1px !important;
}
#ChampionShowMobile-champion-ability-grid-row-two-column-two {
  display: flex !important;
  align-items: center !important;
  height: 100% !important;
  padding: 7px !important;
  overflow-y: scroll !important;
}
#ChampionShowMobile-champion-ability-grid-row-two-column-two::-webkit-scrollbar-track {
  background-color: #1B1C1D !important;
}
#ChampionShowMobile-champion-ability-grid-row-two-column-two::-webkit-scrollbar-thumb {
  background-color: #A78E5A !important;
  border-radius: 0px !important;
}
#ChampionShowMobile-champion-ability-grid-row-two-column-two-description {
  margin: auto !important;
}
#ChampionShowMobile-champion-ability-grid-row-three {
  width: 100% !important;
  height: 42.5% !important;
  padding: 0px !important;
  font-weight: bold !important;
  color: #FFFFFF !important;
  background-color: #1B1C1D !important;
}
#ChampionShowMobile-champion-ability-grid-row-three-column-one {
  padding: 0px !important;
  text-align: center !important;
  background-color: #1B1C1D !important;
}
#ChampionShowMobile-champion-ability-grid-row-three-column-one-upgrades-container {
  background-color: #2185D0 !important;
}
/* Render */
#ChampionShowMobile-champion-render-container {
  width: 100% !important;
  height: 45% !important;
  padding: 0px !important;
  margin: 0px !important;
  border-bottom: 3px solid #2185D0 !important;
  background-color: #1B1C1D !important;
}
#ChampionShowMobile-champion-render-image {
  width: auto !important;
  max-width: 100% !important;
  height: auto !important;
  max-height: 100% !important;
  margin: auto !important;
}
/* Traits */
#ChampionShowMobile-champion-traits-container {
  width: 100% !important;
  height: auto !important;
  padding: 0px !important;
  margin: 0px 0px 14px 0px !important;
  border: 3px solid #2185D0 !important;
  border-top: 0px !important;
  background-color: #1B1C1D !important;
}
#ChampionShowMobile-champion-traits-grid {
  width: 100% !important;
  height: 100% !important;
  padding: 0px !important;
  margin: 0px !important;
}
#ChampionShowMobile-champion-traits-grid-row {
  padding: 0px !important;
  font-weight: bold !important;
  color: #FFFFFF !important;
  font-weight: bold !important;
}
#ChampionShowMobile-champion-traits-grid-row-column-one {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  width: 100% !important;
  padding: 0px 0px 5px 0px !important;
  background-color: #2185D0 !important;
}
#ChampionShowMobile-champion-traits-grid-row-column-one-image {
  width: 40px !important;
  height: 40px !important;
}
#ChampionShowMobile-champion-traits-grid-row-column-two {
  padding: 0px 7px 0px 7px !important;
  text-align: center !important;
}
#ChampionShowMobile-champion-traits-grid-row-column-two-champion-list-container {
  width: 100% !important;
  padding: 7px 0px 0px 0px !important;
  margin: 0px !important;
}
#ChampionShowMobile-champion-traits-grid-row-column-two-champion-list {
  display: flex !important;
  flex-wrap: wrap !important;
  align-items: center !important;
  justify-content: center !important;
}
#ChampionShowMobile-champion-traits-grid-row-column-two-champion-list-item-container {
  position: relative !important;
}
#ChampionShowMobile-champion-traits-grid-row-column-two-champion-list-item-label {
  position: absolute !important;
  width: 12px !important;
  height: 20px !important;
  padding: 0px !important;
  font-size: 12px !important;
  font-weight: bold !important;
  border-bottom-right-radius: 3px !important;
  z-index: 2 !important;
}
#ChampionShowMobile-champion-traits-grid-row-column-two-champion-list-item-image {
  width: 50px !important;
  height: 50px !important;
}
#ChampionShowMobile-champion-traits-grid-row-column-two-description-container {
  width: 100% !important;
  padding: 7px 0px 7px 0px !important;
  margin: 0px !important;
}
#ChampionShowMobile-champion-traits-grid-row-column-two-upgrade-list-container {
  width: 100% !important;
  padding: 0px 0px 7px 0px !important;
  margin: 0px !important;
}
#ChampionShowMobile-champion-traits-grid-row-column-two-upgrade-list {
  display: inline-block !important;
  text-align: left !important;
}
#ChampionShowMobile-champion-traits-grid-row-column-two-upgrade-list-item {
  line-height: 20px !important;
  text-align: left !important;
}
#ChampionShowMobile-champion-traits-grid-row-column-two-upgrade-list-item-upgrade-number {
  padding: 1px 3px 1px 3px !important;
  border-radius: 3px !important;
  font-weight: bold !important;
  background-color: #2185D0 !important;
}

/* Helpers */
.tier-1 {
  color: #FFFFFF !important;
  background-color: #7A8292 !important;
  border: 3px solid #7A8292 !important;
}
.tier-2 {
  color: #FFFFFF !important;
  background-color: #21BA45 !important;
  border: 3px solid #21BA45 !important;
}
.tier-3 {
  color: #FFFFFF !important;
  background-color: #2185D0 !important;
  border: 3px solid #2185D0 !important;
}
.tier-4 {
  color: #FFFFFF !important;
  background-color: #A332C8 !important;
  border: 3px solid #A332C8 !important;
}
.tier-5 {
  color: #FFFFFF !important;
  background-color: #FBBD07 !important;
  border: 3px solid #FBBD07 !important;
}
