.ui.celled.fixed.selectable.sortable.striped.unstackable.table {
  margin-top: 0px !important;
}

#champion-icon-mobile,
#champion-icon-tablet-computer,
#champion-icon-large-computer {
  height: auto !important;
  margin: auto !important;
  vertical-align: middle !important;
}

#champion-icon-mobile {
  width: 60% !important;
}

#champion-icon-tablet-computer {
  width: 15% !important;
}

#champion-icon-large-computer {
  width: 10% !important;
}

#trait-popup-description {
  text-align: center;
  text-align-last: center;
}
