#champion-search-container {
  width: 100% !important;
  height: 100% !important;
  box-sizing: border-box !important;
}

#champion-search-form {
  width: 100% !important;
  height: 12% !important;
  padding: 14px !important;
  background: #2185D0 !important;
}

#champion-search-form div {
  width: 100% !important;
  height: 100% !important;
}

#champion-search-form form {
  width: 100% !important;
  height: 100% !important;
}

#champion-search-form input {
  border-radius: 0px !important;
  width: 100% !important;
  height: 100% !important;
}

#champions-list {
  display: block !important;
  padding: 14px 0px 14px 0px !important;
  overflow-y: scroll !important;
  width: 100% !important;
  min-width: 100% !important;
  max-width: 100% !important;
  height: 75vh !important;
  min-height: 75vh !important;
  max-height: 75vh !important;
  text-align: center !important;
  box-sizing: border-box !important;
  background-color: #FFFFFF !important;
  border: 3px solid #2185D0 !important;
  border-top: 0px !important;
}

#champions-list::-webkit-scrollbar-track {
  background-color: #FFFFFF !important;
}

#champions-list::-webkit-scrollbar-thumb {
  background-color: #A78E5A !important;
  border-radius: 0px !important;
}

#champion-icon-container {
  position: relative !important;
}

#champion-icon-label {
  position: absolute !important;
  width: 1vw !important;
  height: auto !important;
  padding: 0px !important;
  font-size: 0.8vw !important;
  font-weight: bold !important;
  color: #FFFFFF !important;
  border-bottom-right-radius: 3px !important;
  z-index: 2 !important;
}

#champion-icon {
  width: auto !important;
  max-width: 3.5vw !important;
  height: auto !important;
  max-height: 11vh !important;
}

/* Tablet */

#champion-icon-label-tablet-mobile {
  position: absolute !important;
  width: 14px !important;
  height: auto !important;
  padding: 0px !important;
  font-size: 1vw !important;
  font-weight: bold !important;
  color: #FFFFFF !important;
  border-bottom-right-radius: 3px !important;
  z-index: 2 !important;
}

#champion-icon-tablet-mobile {
  width: auto !important;
  height: auto !important;
  max-height: 11vh !important;
}

#champion-header-synergies-container-mobile {
  display: flex !important;
  justify-content: center !important;
  flex-direction: column !important;
  position: absolute !important;
  width: 15% !important;
  height: 100% !important;
  right: 10px !important;
  background-color: #1B1C1D !important;
  z-index: 2 !important;
}

/* Mobile */
#champion-search-form-mobile {
  width: 100% !important;
  height: 12% !important;
  padding: 14px !important;
  background: #2185D0 !important;
}

#champion-search-form-mobile div {
  width: 100% !important;
  height: 100% !important;
}

#champion-search-form-mobile form {
  width: 100% !important;
  height: 100% !important;
}

#champion-search-form-mobile input {
  border-radius: 0px !important;
  width: 100% !important;
  height: 100% !important;
}

#champions-list-mobile {
  display: block !important;
  padding: 14px 0px 14px 0px !important;
  overflow-y: scroll !important;
  width: 100% !important;
  min-width: 100% !important;
  max-width: 100% !important;
  height: 200px !important;
  min-height: 200px !important;
  max-height: 200px !important;
  text-align: center !important;
  box-sizing: border-box !important;
  background-color: #FFFFFF !important;
  border: 3px solid #2185D0 !important;
  border-top: 0px !important;
}

#champions-list-mobile::-webkit-scrollbar-track {
  background-color: #FFFFFF !important;
}

#champions-list-mobile::-webkit-scrollbar-thumb {
  background-color: #A78E5A !important;
  border-radius: 0px !important;
}
/* Helpers */

.tier-1 {
  color: #FFFFFF !important;
  background-color: #7A8292 !important;
  border: 3px solid #7A8292 !important;
}
.tier-2 {
  color: #FFFFFF !important;
  background-color: #21BA45 !important;
  border: 3px solid #21BA45 !important;
}
.tier-3 {
  color: #FFFFFF !important;
  background-color: #2185D0 !important;
  border: 3px solid #2185D0 !important;
}
.tier-4 {
  color: #FFFFFF !important;
  background-color: #A332C8 !important;
  border: 3px solid #A332C8 !important;
}
.tier-5 {
  color: #FFFFFF !important;
  background-color: #FBBD07 !important;
  border: 3px solid #FBBD07 !important;
}
