#navigation-bar {
  padding-bottom: 0px !important;
  border-bottom: 3px solid #2185D0 !important;
  border-radius: 0px !important;
}

#navigation-bar-logo {
  width: 40px !important;
  height: auto !important;
}

#navigation-bar-item-mobile-last {
  border-bottom: 3px solid #2185D0 !important;
}
