#summoner-show-page-container-mobile-tablet {
 width: 100% !important;
 z-index: -1 !important;
 position: absolute !important;
}

#summoner-show-page-container-computer {
  width: 50% !important;
  z-index: -1 !important;
  position: absolute !important;
  left: 50% !important;
  transform: translate(-50%,0) !important;
}

#summoner-show-page-icon {
  border: 2px solid black !important;
}

#summoner-show-page-rank {
  color: #36A9E0 !important;
  font-weight: bold !important;
}

#summoner-show-page-rank-wins {
  color: green !important;
}

#summoner-show-page-rank-losses {
  color: red !important;
}
