<div id="Footer-container">
  <div id="Footer-left-container">
    <a id="Footer-left-item" onclick="window.location.href='/'">Home</a>
    <a id="Footer-left-item" onclick="window.location.href='/champions/overview'">Champions</a>
    <a id="Footer-left-item" onclick="window.location.href='/champions/origins'">Origins</a>
    <a id="Footer-left-item" onclick="window.location.href='/champions/classes'">Classes</a>
  </div>
  <div id="Footer-center-container">
    <div id="Footer-center-item" onclick="window.location.href='/'"><%= image_tag "logos/logo.png" %></div>
  </div>
  <div id="Footer-right-container">
    <span id="Footer-right-item">Copyright © 2019 Synergy.gg</span>
  </div>
</div>
