<div id="FooterMobile-container">
  <div id="FooterMobile-top-row-container">
    <div id="FooterMobile-top-row-item"><%= image_tag "logos/logo.png" %></div>
  </div>
  <div id="FooterMobile-bottom-row-container">
    <span id="FooterMobile-bottom-row-item">Copyright © 2019 Synergy</span>
  </div>
</div>
