<div id="FooterDesktop-container">
  <div id="FooterDesktop-left-container">
    <a id="FooterDesktop-left-item" onclick="window.location.href='/'">Home</a>
    <a id="FooterDesktop-left-item" onclick="window.location.href='/champions/overview'">Champions</a>
    <a id="FooterDesktop-left-item" onclick="window.location.href='/champions/origins'">Origins</a>
    <a id="FooterDesktop-left-item" onclick="window.location.href='/champions/classes'">Classes</a>
  </div>
  <div id="FooterDesktop-center-container">
    <div id="FooterDesktop-center-item" onclick="window.location.href='/'"><%= image_tag "logos/logo.png" %></div>
  </div>
  <div id="FooterDesktop-right-container">
    <span id="FooterDesktop-right-item">Copyright © 2019 Synergy.gg</span>
  </div>
</div>
