<div id="FooterDesktop-container">
  <div id="FooterDesktop-left-container">
    <span id="FooterDesktop-left-item">Synergy.GG isn’t endorsed by Riot games and doesn’t reflect the views or opinions of Riot Games</span>
  </div>
  <div id="FooterDesktop-center-container">
    <div id="FooterDesktop-center-item" onclick="window.location.href='/'"><%= image_tag "logos/logo.png" %></div>
  </div>
  <div id="FooterDesktop-right-container">
    <span id="FooterDesktop-right-item">Copyright © 2019 Synergy</span>
  </div>
</div>
